body {
    background-color: #daede2;
}
/* SetLineup Page*/
td.lineupColumn1 {
    width: 300px;
}
#buttonDiv {
    margin: auto;
    text-align: center;
}
#CancelButton {
    margin: 5px 15px;
}
#SubmitButton {

    margin: 5px 15px;
}

.NotifyLabel {
    color: red;
    font-size: large;
}
.player
{
    height: 30px;
    width: 300px;
    color: black;
    border: 1px solid #666666;
    background-color: whitesmoke;
    padding:3px;
    margin: 0px 2px;
    /*text-align: center;*/
}

.teamSpots {
    width: 300px;
    margin: 0px;
}

#midDiv {
    height: 120px;
    margin: 0;
}

#goalieDiv {
    height: 30px;
    margin: 0;
}

#defDiv {
    height: 120px;
    margin: 0;
}

#strDiv {
    height: 60px;
    margin: 0;
}

#benchDiv {
    height: 400px;
    margin: 0;
}

.playerName {
    text-align: left;
    float: left;
}

.playerPosition {
    text-align: right;
    float: right;
}

.highlight {

}
/* END OF SET LINEUP */


#MainContent_StatsTable td {
    padding: 0 5px;
}

th.stats_spacing {
    padding: 0 0 0 20px;
}

#MainContent_PlayerSearchGridView td,  #MainContent_PlayerSearchGridView th,
#MainContent_TeamGridView td,  #MainContent_TeamGridView th,
#MainContent_LeagueGridView td,  #MainContent_LeagueGridView th,
#MainContent_FantasyDetailsGridView td, #MainContent_FantasyDetailsGridView th,
#MainContent_ClubGridView td, #MainContent_ClubGridView th,
#MainContent_StandingsGridView td, #MainContent_StandingsGridView th,
#MainContent_PlayerGridView td, #MainContent_PlayerGridView th {
    padding: 5px;
    /*cursor: pointer;*/
}

#MainContent_PlayerSearchGridView th,
#MainContent_PlayerGridView th,
#MainContent_TeamGridView th,
#MainContent_ClubGridView th,
#MainContent_LeagueGridView th,
#MainContent_StandingsGridView th,
#MainContent_FantasyDetailsGridView th {
    background-color: #cccccc;
    color: #2c3e50;
}

#MainContent_PlayerSearchGridView a,
#MainContent_PlayerGridView a,
#MainContent_TeamGridView a,
#MainContent_ClubGridView a,
#MainContent_StandingsGridView a,
#MainContent_FantasyDetailsGridView a {
    color: #2c3e50;
}

#MainContent_TeamGridView, #MainContent_FantasyDetailsGridView, #MainContent_PlayerSearchGridView, 
#MainContent_PlayerGridView, #MainContent_ClubGridView, #MainContent_LeagueGridView,  
#MainContent_StandingsGridView {    
    border: none;
    -moz-box-shadow: 0px 0px 5px 5px #888888;
    -webkit-box-shadow: 0px 0px 5px 5px #888888;
    box-shadow: 0px 0px 5px 5px #888888; /*The 3rd parameter sets how far the shadow blurs*/
}

tr.selectedblackout {
    /*background-color: black;*/
}

tr.selectedblackout:hover {
  background-color: #222222;
  color: white;
  cursor: pointer;
}

tr.alternaterow {
    background-color: #18bc9c;
}

#MainContent_PlayerSearchGridView th.hidden,
#MainContent_PlayerSearchGridView td.hidden,
#MainContent_TeamGridView th.hidden,
#MainContent_TeamGridView td.hidden,
#MainContent_FantasyDetailsGridView th.hidden, 
#MainContent_FantasyDetailsGridView td.hidden {
    display: none;
}

th.playerdesc {
    padding-right: 10px;
}

.fantasy_points_label {
    font-size: 22px;
}

.fantasy_points {
    font-size: 22px;
    color: #18bc9c;
}

.player_info {
    float: left;
}

.player_functions {
    float: left;
    margin-left: 30px;
}

.clear {
    clear: both;
}